h1 {
  text-align: center;
}

.bottom-border {
  border-bottom: 1px solid black;
}
.right-border {
  border-right: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: auto;
}

td {
  width: 100px;
  height: 100px;
}
